@page
@model JmkCoder101.Pages.GettingStarted
@{
    Layout = "_Default";
}

<br />
<h1 class="fa-xl">What is Nimbus?</h1>

<br />

<p>
    Nimbus is a customizable Razor Pages Library based on <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">Bootstrap Responsive Components</a>.
    <br />
    It is a powerful tool that can help you create beautiful, responsive, and user-friendly web applications that are tailored to your needs.
    <br />
    Whether you are a seasoned developer or just starting out, Nimbus can help you take your web development skills to the next level.
</p>