@page
@model JmkCoder101.Pages.GettingStarted
@{
    Layout = "_Default";
}

<br />
<h1 class="fa-xl">What is Nimbus?</h1>

<br />

<p>
    Nimbus is a customizable Razor Pages Library based on <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Bootstrap Responsive Components</a>.
    <br />
    <br />
    It is a powerful tool that can help you create beautiful, responsive, and user-friendly web applications that are tailored to your needs.
    Whether you are a seasoned developer or just starting out, Nimbus can help you take your web development skills to the next level.
</p>


<br />

<h1 class="fa-xl">Browser support</h1>

<br />

<p>
    Nimbus is built to work best in the latest desktop and mobile browsers, meaning older browsers might display differently styled, though fully functional, renderings of certain components.
    For detailed information about browser support, see <a href="https://getbootstrap.com/docs/5.3/getting-started/browsers-devices/" target="_blank">Bootstrap's Browser Support</a>.
</p>

<br />

<h1 class="fa-xl">Assumptions</h1>

<br />

<p>
    Nimbus assumes that you have a basic understanding of HTML, CSS/SASS, JavaScript/TypeScript, Razor and C#.
</p>