@using Components.Alert;
@model AlertViewModel

@{
    var color = @Model.Color.ToString().ToLower();
    var id = !string.IsNullOrEmpty(Model.Id) && Model.Id.Trim() != string.Empty ? $"id={Model.Id.Trim()}" : string.Empty;
    var dismissable = @Model.IsDismissible ? " alert-dismissible show" : string.Empty;
    var classes = !string.IsNullOrEmpty(Model.Classes) ? $" {Model.Classes.Trim()}" : string.Empty;
}

<div @id class="alert alert-@color mb-0@(dismissable)@(classes)" role="alert">
    @if (Model.Icon != null)
    {
        @await Html.PartialAsync("~/Icon/Views/Index.cshtml", Model.Icon)<span>&nbsp</span>
    }
    @(!string.IsNullOrEmpty(Model.Text) && Model.Text.Trim() != string.Empty ? Html.Raw(Model.Text) : Html.Raw("&nbsp;"))
    @if (Model.IsDismissible)
    {
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    }
</div>