@using JmkCoder101.Components.Alert;
@model AlertViewModel

@{
    var alertType = @Model.AlertType.ToString().ToLower();
}

<div class="alert alert-@alertType mb-0" role="alert">
    @Model.Text
</div>