@using Components.Callout;
@model CalloutViewModel

@{
    var color = @Model.Color.ToString().ToLower();
}

<div class="callout callout-@color">
    <h4>@Model.Title</h4>
    <p>@Model.Message</p>
</div>