@using Components.Component.ViewModels;
@model ExampleViewModel

@{
    Layout = "_Default";
}

<h1 class="mb-2">@Model.Title</h1>

<p class="lead mb-2">@Model.Description</p>

<div class="bd-example-snippet bd-code-snippet">
    <div class="bd-example m-0 border-0">
        @if (Model.Components is not null)
        {
            foreach (var (component, index) in Model.Components.Select((component, i) => (component, i)))
            {
                @await Html.PartialAsync(Model.ViewPath, component)

                if (index < Model.Components.Count - 1 && 
                    (Model.WithSpace || Model.SpaceIndex.Contains(index)))
                {
                    <div></div>
                    <br class="my-5" />
                    <div></div>
                }
            }
        }
    </div>
    <div class="bd-example d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1 border-0 border-top border-bottom">
        <small class="font-monospace text-body-secondary text-uppercase">Razor C#</small>
        <div class="d-flex ms-auto">
            <button type="button" class="btn btn-light mt-0 me-0" aria-label="Copy to clipboard" data-bs-original-title="Copy to clipboard">
                <i class="fa-regular fa-copy"></i>
            </button>
        </div>
    </div>
    <pre class="bd-example language-razor border-0 p-3 m-0 line-numbers">
    <code class="language-razor">
...

@@* Note that you have to pass a model of type "@Model?.Components?[0].GetType().ToString().Replace("JmkCoder101.", string.Empty)" to the partial view. *@@
@@Html.PartialAsync("@Model?.ViewPath", Model)
        </code>
    </pre>
</div>

<div class="bd-example-snippet-model mt-3 p-0">
    <div class="bd-example d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1 border-0 border-top border-bottom">
        <small class="font-monospace text-body-secondary text-uppercase">Model</small>
        <div class="d-flex ms-auto">
            <button type="button" class="btn btn-light mt-0 me-0" aria-label="Copy to clipboard" data-bs-original-title="Copy to clipboard">
                <i class="fa-regular fa-copy"></i>
            </button>
        </div>
    </div>
    <pre class="language-razor border-0 p-3 m-0 line-numbers">
    <code class="language-csharp">
            @if (Model?.ModelLines is not null)
            {
                foreach (var line in Model.ModelLines)
                {
                    @line.Replace("JmkCoder101.", string.Empty).Replace("partial ", string.Empty) <br />
                }
            }
    </code>
    </pre>
</div>

<script>
    window.Prism = window.Prism || {};
    Prism.disableWorkerMessageHandler = true;
</script>